
body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#ffd1dc,#ffe6f0,#fff0f5);
    font-family: "Microsoft YaHei", sans-serif;
}

.container{
    text-align:center;
}

h1{
    font-size:36px;
    margin:0;
    color:#d6336c;
}

h2{
    margin:10px 0 30px 0;
    color:#ff2f67;
}

canvas{
    background:transparent;
}
